.rows {
  margin-top: 10px;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  padding: clamp(0.8rem, 4vw, 1.8rem);
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 440px) {
  .flexbox {
    flex-direction: row;
    justify-content: space-between;
  }
}
