.title {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--color-white);

  &.one {
    font-size: clamp(1.2rem, 4vw, 1.6rem);
  }

  &.two {
    font-size: clamp(0.6rem, 4vw, 1.2rem);
  }

  &.three {
    font-size: clamp(0.5rem, 4vw, 0.8rem);
  }

  &.four {
    font-size: 1rem;
  }

  &.menu {
    font-size: 0.875rem;
  }
}

.paragraph {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-white);

  &.failed {
    color: var(--color-yellow);
    font-weight: 700;
  }
}

.label {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-white);
}
