.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 480px) {
  .flexbox {
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
  }
}
