.inputBox {
  input {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: var(--font-primary);
    font-size: clamp(0.5rem, 3vw, 0.82rem);
    color: var(--color-white);
    font-weight: 700;
    padding: 0 16px;
    height: 2.7rem;
    border-radius: 255px;
    background-color: var(--color-gray-1);

    &:disabled {
      opacity: 0.5;
    }
  }
}
