.contactList {
  padding: 20px 12px;
  background-color: var(--color-black);
  border-radius: 4px;
  margin-bottom: 20px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .flexbox {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.contactData {
  & > h3 {
    margin-top: 5px;
  }

  & > p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.cardIcons {
  display: flex;
  gap: 4px;
}
