.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-gray-2);
  animation: modalAnimation 0.4s;

  .modalBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    padding-bottom: 13px;
    border-radius: 8px;
    background-color: var(--color-gray-2);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.4);
    .formModal {
      margin-top: 8px;
      background-color: var(--color-gray-2);
      width: 90%;
      padding: 10px 0px;

      & > button {
        font-size: clamp(11px, 4vw, 16px);
      }
    }

    .ModalHeaders {
      border-radius: 8px 8px 0 0;
      width: 100%;
      padding: 18px 20px;
      background-color: var(--color-gray-2);
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

@keyframes modalAnimation {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
